body{

    background: #f2f2f2;
    font-family: 'Raleway', sans-serif;
}

header .nav {

    min-height: 80px;
    overflow: hidden;
    background: #fff;

}

header .menu .c2{background: #005385;}

header .menu .c2:hover{background: #00426a;}

/*Main*/
.portafolio{

    border-top: 5px solid  #3da5e2;
    
    background-color: #fff;
}

.portafolio .titulo{
      color: rgb(0, 255, 123);
 font-family: 'Taleway' , sans-serif;
 font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {

    max-height: 180px;
    overflow: hidden;

}

.portafolio .galeria .contenedor-imagen a {
     
    background: #3de284;

    display: inline-block;

}

/*Footer*/
.redes-sociales{

    padding: 40px 0;

    margin-bottom: 40px;

}

.redes-sociales .icono{

    width: 100px;
    height: 100px;
    color: #fff;
    background: #cbcbcb;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 180px;
    transition: all .3s ease;   
}

.redes-sociales .icono svg {
    
    width: 40px;

    height: 40px;

}

.redes-sociales .twitter {background: #1da1f2;}
.redes-sociales .instagram {background: #f21dd6;}
.redes-sociales .WhatsApp {background: #84f21d;}

.icono {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0; /* Color de fondo para los iconos */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; /* Espacio entre los iconos */
}

.imagen {
    width: 100px; /* Tamaño de las imágenes */
    height: 100px; /* Tamaño de las imágenes */
    overflow: hidden;
    position: relative;
}

.imagen img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
    border-radius: 50%; /* Hace que las imágenes sean redondas */
}
.modal-dialog{

    max-width: 1000px;
}


@media screen and (max-width: 768px){}

@media screen and (max-width: 992px){
 
    .logo{
       
        height: 76px;

    }

    header.menu {

     min-height: 76px;

    }

    header .menu a{

        width: 100%;
    }
  
  .portafolio .galeria .contenedor-imagen:nth-child(1){order: 1;}
  .portafolio .galeria .contenedor-imagen:nth-child(2){order: 3;}
  .portafolio .galeria .contenedor-imagen:nth-child(3){order: 6;}
  .portafolio .galeria .contenedor-imagen:nth-child(4){order: 2;}
  .portafolio .galeria .contenedor-imagen:nth-child(5){order: 5;}
  .portafolio .galeria .contenedor-imagen:nth-child(6){order: 4;}

}